<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string>my_album_image</string>
			<key>title</key>
			<string>我的相册 </string>
		</dict>
		<dict>
			<key>icon</key>
			<string>my_dynamic_image</string>
			<key>title</key>
			<string>我的动态</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>my_help_iamge</string>
			<key>title</key>
			<string>帮助</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>my_set_image</string>
			<key>title</key>
			<string>设置</string>
		</dict>
	</array>
</array>
</plist>
